services:
  orders:
    build: .
    container_name: orders
    env_file:
      - ./.env
    volumes:
      - ./app/:/usr/src/app/
    ports:
      - "${SERVER__PORT}:${SERVER__PORT}"
    command: >
      bash -c
      "alembic upgrade head 
      && uvicorn app.core.asgi:app --host 0.0.0.0 --port 8000 --reload"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
      kafka:
        condition: service_healthy

  postgres:
    image: postgres
    container_name: postgres
    environment:
      - POSTGRES_USER=${DB__USER}
      - POSTGRES_PASSWORD=${DB__PASSWORD}
      - POSTGRES_DB=${DB__NAME}
    volumes:
      - postgres-data:/var/lib/postgresql/
    ports:
      - "${DB__PORT}:${DB__PORT}"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d postgres -U admin" ]
      interval: 10s
      timeout: 60s
      retries: 5
      start_period: 10s

  redis:
    image: redis
    container_name: redis
    volumes:
      - redis-data:/data
    ports:
      - "${CACHE__REDIS_PORT}:${CACHE__REDIS_PORT}"

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
    ports:
      - "9092:9092"
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "9092"]
      interval: 10s
      timeout: 20s
      retries: 10
      start_period: 40s

  taskiq-worker:
    build: .
    container_name: taskiq-worker
    env_file:
      - ./.env
    volumes:
      - ./app/:/usr/src/app/
    command: >
      bash -c
      "taskiq worker app.core.infrastructure.broker.taskiq:broker --workers 1"
    depends_on:
      kafka:
        condition: service_healthy

volumes:
  postgres-data:
  redis-data:
